/* Variable*/
:root {
    --border-left:1px solid #ce6868;
    --box-shadow:0 7px 20px 0 rgba(0,0,0,0.2),0 4px 10px 0 rgba(0,0,0,0.2) ;
    --color: #ce6868; 
    --color2: #852323;
}

/*Style whole web*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
body, html {
    height: 100%;
    display: flex;
    
}

/* Background image */

.bg-image {
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  background-image: url('./image.png');
  width: 100%;
  height: 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  
}

.content {
    overflow: auto;
    position: relative;
  }

/* Header */

  header {
    padding-top: 20px;
}

.h1 {
position: fixed;
left: 0%;
top: 0%;
right: 0%;
bottom: auto;
z-index: 1;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
height: 80px;
padding-left: 20px;
padding-right: 20px;
-webkit-box-pack: justify;
-webkit-justify-content: space-between;
-ms-flex-pack: justify;
justify-content: space-between;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
border-bottom: 1px solid #ce6868;
background-color:  #fedfdb;
}


header a {
    color: var(--color);
    text-decoration: none;
    text-align: center;
  }

  header a:hover{
    color: var(--color2);
  }


  /* Main */
main {
    max-width: 90%;
    margin: 40px auto;
    
}
section {
    display: flex;
}

.intro-box{
    width: 40rem;
    text-align: left;
    justify-content: center;
    margin: auto;
}
.intro {
    font-size: 16px;
}

section h2 {
    min-width: 16%;
    max-width: 16%;
    text-align: center;
    margin-top: 60px;
    margin-right: 10px;
    flex-wrap: wrap; 
    font-size: 25px;
    margin-bottom: 8px;
    color:#ce6868; 
    opacity: 1;
}

h2::first-letter {
    font-size: 50px;
}

#welcome {
    width: 40rem;
    text-align: left;
    margin: auto;
}
h3 {
    font-size: 60px;
    margin-bottom: 8px;
    color: #ffece8;
    text-shadow: 4px 4px 13px #ce6868;
    opacity: 1;
}

.cards {
    
    border-left: var(--border-left);
    margin: 40px 20px;
    width: 100%;
    color: var(--color2);
    font-size: 18px;
    justify-content: center;
    text-align: center;
    
}


.cards-container {
    float: left;
    width: 44%;
    margin: 25px;
    justify-content: center;
    text-align: center;
   
}


.projects:hover {
    border: 1px solid var(--color);
   
}

.projects {
    height: 400px;
    box-shadow: var(--box-shadow);
    position: relative; 
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}


img {
    width: 90%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 4px;
}

.bottom-left{
    position: absolute;
    bottom: 6px;
    left: 5px;
    text-align: center;
    color: var(--color2);
    font-size: smaller;
    text-decoration: none;

}

.contact-me {
    display: flex;
    flex-wrap: wrap;  
}
.contact-me li{
    display: inline;
    padding: 30px;
    list-style: none;
    font-size: 15px;
    justify-content: center;
    margin: auto;
}

.contact-me a {
    color:var(--color2);
}

.contact-me a:hover {
    font-size:large;
}

/*Footer*/

footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    color:var(--color2);
    margin-bottom: 20px;
}

/* Media queries */

@media screen and (max-width:1116px) {
    .contact-me li{
        font-size: smaller;
        padding: 10px;
    }
}
@media screen and (max-width:768px) {
    .contact-me li{
        font-size: smaller;
        padding: 5px;
    }
}

